body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* button */
::-webkit-scrollbar-button {
  height: 0;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8585AD;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; 
}
/* Track */
::-webkit-scrollbar-track {
  background: #2F2F37; 
}
/* Corner */
::-webkit-scrollbar-corner {
  background: #999; 
}
/* Resizer */
::-webkit-resizer {
  background: #111; 
}