.ingredientsListBlock {
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #8585AD #2F2F37;
}
.ingredientsListBlock::-webkit-scrollbar-thumb {
    height: 492px;
}