.header {
    display: flex;
    justify-content: center;
    background: #1C1C21;
}

.headerContainer {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
}

.headerButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}